.CardStackComponent {
  border: 2px solid #969;
  border-radius: 8px;
  display: flex;
  flex-direction: row;

  .remaining {
    width: 108px;
    padding: 8px;
    text-align: center;
    background-color: #444;
    color: wheat;
  }
}
