.ChipStackComponent {
  text-align: center;
  border: 1px solid green;
  border-radius: 4px;
  .chip-stack {
    width: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    background-color: #555;
    border: 2px solid black;
    border-radius: 50%;
  }
}
