.NobleComponent {
  width: 88px;
  height: 88px;
  margin-bottom: 2px;
  background-color: #eee;
  border: 2px solid #aaa;
  border-radius: 8px;

  .point-value {
    text-align: right;
    font-size: 24px;
  }
  .requirement {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }
}
