.PlayerComponent {
  text-align: left;
  font-size: 10px;
  .active {
    border: 2px solid red;
  }
  .inactive {
    border: 2px solid gray;
  }
  .chips-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 32px;
    width: 322px;
    border-radius: 3px;
    border: 1px solid gray;

    .normal {
      background-color: lightgray;
    }
    .warning {
      background-color: red;
    }
    .background {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: rgb(185, 185, 185);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      overflow: hidden;
    }
  }
  .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 42px;
    border-radius: 3px;
    border: 1px solid gray;
    .background {
      padding-top: 4px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: rgb(185, 185, 185);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: lightgray;
      overflow: hidden;
    }
  }
  .player-cards {
    flex-direction: row;
    .card {
      margin: 4px;
      margin-left: -12px;
      float: left;
      width: 20px;
      height: 30px;
      border-radius: 3px;
      border: 2px solid gray;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      background-color: white;
    }
  }
  .reserve-cards {
    display: flex;
    flex-direction: row;
  }
  .nobles-container {
    display: flex;
  }
  .player-nobles {
    flex-direction: row;
    .noble {
      margin: 4px;
      float: left;
      width: 20px;
      height: 30px;
      border-radius: 3px;
      border: 2px solid gray;
      text-align: center;
      font-size: 18px;
    }
  }
  .player-chips {
    .white {
      border: 2px solid gray;
      background-color: white;
      color: black;
    }
    .blue {
      border: 2px solid gray;
      background-color: rgb(0, 115, 255);
      color: black;
    }
    .green {
      border: 2px solid gray;
      background-color: green;
      color: black;
    }
    .red {
      border: 2px solid gray;
      background-color: red;
      color: black;
    }
    .black {
      border: 2px solid gray;
      background-color: black;
      color: white;
    }
    .wild {
      border: 2px solid gray;
      background-color: yellow;
      color: black;
    }
    .chip {
      float: left;
      margin: 4px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
